<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../public/styles/login.css">
</head>
<body>
    <div class="header">
        <img src="../../images/linkedin.svg" alt="LinkedIn">
        
    </div>

    <div class="main">

        <p>Bem-vindo à sua comunidade profissional.</p>
        <form class="login" action="#">
            <input type="email" placeholder="E-mail ou número de telefone" alt="E-mail ou número de teelfone">
            <input type="password" minlength="6" placeholder="Senha (+ de 6 caracteres)" alt="Senha">

            <a href="#">Esqueceu a senha?</a>
            <button type="submit">Entrar</button>
        </form>

        <div class="container-google">
            <div class="google">
                <hr><p>ou</p><hr>
                <a href="#"> <img src="../../images/google_icon.svg" alt="Entre com o Google"><p>Entrar com o Google</p></a>
            </div>

            <a class="newacc" href="#">Cadastre-se agora</a>
        </div>       
        
    </div>
</body>
</html>